
@font-face {
  font-family: 'iconfonts';
  src: url("../fonts/iconfonts.eot?ventwz");
  src: url("../fonts/iconfonts.eot?ventwz#iefix") format("embedded-opentype"), 
  url("../fonts/iconfonts.ttf?ventwz") format("truetype"), 
  url("../fonts/iconfonts.woff?ventwz") format("woff"), 
  url("../fonts/iconfonts.svg?ventwz#iconfonts") format("svg");
  font-weight: normal;
  font-style: normal;
}
.bbc-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}


.bbc-icon-category:before {
  content: "\e934";
}

.bbc-icon-category-empty:before {
  content: "\e937";
}

.bbc-icon-rate-empty:before {
  content: "\e938";
}

.bbc-icon-complaints-nodata:before {
  content: "\e939";
}

.bbc-icon-trade-nodata:before {
  content: "\e93a";
}

.bbc-icon-address-nodata:before {
  content: "\e93b";
}

.bbc-icon-goods-nodata:before {
  content: "\e93c";
}

.bbc-icon-shop-nodata:before {
  content: "\e93d";
}

.bbc-icon-return-nodata:before {
  content: "\e93e";
}

.bbc-icon-coupon-nodata:before {
  content: "\e93f";
}

.bbc-icon-activity-nodata:before {
  content: "\e940";
}

.bbc-icon-integral-nodata:before {
  content: "\e941";
}

.bbc-icon-deposit-nodata:before {
  content: "\e942";
}

.bbc-icon-rate-nodata:before {
  content: "\e94a";
}

.bbc-icon-cart-nodata:before {
  content: "\e94e";
}

.bbc-icon-unipay:before {
  content: "\e931";
}

.bbc-icon-qianbao:before {
  content: "\e92d";
}

.bbc-icon-back:before {
  content: "\e900";
}

.bbc-icon-more-vertical:before {
  content: "\e930";
}

.bbc-icon-qq-member:before {
  content: "\e92c";
}

.bbc-icon-tag:before {
  content: "\e92f";
}

.bbc-icon-deposit-amount:before {
  content: "\e925";
}

.bbc-icon-integral:before {
  content: "\e936";
}

.bbc-icon-star-empty:before {
  content: "\e943";
}

.bbc-icon-remove:before {
  content: "\e944";
}

.bbc-icon-member-level:before {
  content: "\e945";
}

.bbc-icon-wapweixin-member:before {
  content: "\e946";
}

.bbc-icon-weibo-member:before {
  content: "\e947";
}

.bbc-icon-renren-member:before {
  content: "\e948";
}

.bbc-icon-assets:before {
  content: "\e949";
}

.bbc-icon-purse:before {
  content: "\e94b";
}

.bbc-icon-coupon:before {
  content: "\e94c";
}

.bbc-icon-invoice:before {
  content: "\e94d";
}

.bbc-icon-communication:before {
  content: "\e926";
}

.bbc-icon-home:before {
  content: "\e927";
}

.bbc-icon-user:before {
  content: "\e928";
}

.bbc-icon-cart:before {
  content: "\e929";
}

.bbc-icon-gallery:before {
  content: "\e92a";
}

.bbc-icon-message:before {
  content: "\e92b";
}

.bbc-icon-thumb:before {
  content: "\e92e";
}

.bbc-icon-countdown:before {
  content: "\e932";
}

.bbc-icon-rate:before {
  content: "\e933";
}

.bbc-icon-top:before {
  content: "\e935";
}

.bbc-icon-weixin:before {
  content: "\e921";
}

.bbc-icon-zhifubao:before {
  content: "\e922";
}

.bbc-icon-arrow-down:before {
  content: "\e923";
}

.bbc-icon-star-empty-s:before {
  content: "\e924";
}

.bbc-icon-cart-empty:before {
  content: "\e901";
}

.bbc-icon-checked:before {
  content: "\e903";
}

.bbc-icon-delete:before {
  content: "\e904";
}

.bbc-icon-error:before {
  content: "\e905";
}

.bbc-icon-faverite:before {
  content: "\e906";
}

.bbc-icon-forward:before {
  content: "\e907";
}

.bbc-icon-history-gap:before {
  content: "\e908";
}

.bbc-icon-history:before {
  content: "\e909";
}

.bbc-icon-home-empty:before {
  content: "\e90a";
}

.bbc-icon-info:before {
  content: "\e90b";
}

.bbc-icon-list:before {
  content: "\e90c";
}

.bbc-icon-loading:before {
  content: "\e90d";
}

.bbc-icon-location-gap:before {
  content: "\e90e";
}

.bbc-icon-location:before {
  content: "\e90f";
}

.bbc-icon-logistics-gap:before {
  content: "\e910";
}

.bbc-icon-logistics:before {
  content: "\e911";
}

.bbc-icon-message-gap:before {
  content: "\e912";
}

.bbc-icon-more:before {
  content: "\e913";
}

.bbc-icon-package:before {
  content: "\e914";
}

.bbc-icon-password:before {
  content: "\e915";
}

.bbc-icon-pay:before {
  content: "\e916";
}

.bbc-icon-right:before {
  content: "\e917";
}

.bbc-icon-search:before {
  content: "\e918";
}

.bbc-icon-setting:before {
  content: "\e919";
}

.bbc-icon-shopping:before {
  content: "\e91a";
}

.bbc-icon-store-empty:before {
  content: "\e91b";
}

.bbc-icon-store:before {
  content: "\e91c";
}

.bbc-icon-submenu:before {
  content: "\e91d";
}

.bbc-icon-user-empty:before {
  content: "\e91e";
}

.bbc-icon-user-s:before {
  content: "\e91f";
}

.bbc-icon-view:before {
  content: "\e920";
}